{
	debug

	order authenticate before respond
	order authorize before basicauth

	security {
		local identity store localdb {
			realm local
			path {$HOME}/.local/caddy/users.json
		}


		authentication portal myportal {
			crypto default token lifetime 3600
			crypto key sign-verify foobar
			enable identity store localdb
			ui {
				links {
					"My Website" "/" icon "las la-star"
					"My Identity" "/auth/whoami" icon "las la-user"
					"My Website 8080" ":8080/" icon "las la-star"
				}
				password_recovery_enabled yes
			}
			transform user {
				match origin local
				action add role authp/user
				ui link "Portal Settings" /auth/settings icon "las la-cog"
			}
		}

		authorization policy mypolicy {
			set auth url https://localhost/auth/
			allow roles authp/admin authp/user
			crypto key verify foobar
			acl rule {
				comment allow users
				match role authp/user
				allow stop log info
			}
			acl rule {
				comment default deny
				match any
				deny log warn
			}
		}
	}
}

localhost {
	route /auth* {
		authenticate with myportal
	}	
	route {
		authorize with mypolicy
		respond "Caddy is running"
		#reverse_proxy http://192.168.1.2:9000
	}
}
localhost:8080 {
        route /auth* {
                authenticate with myportal
        }
        route {
                authorize with mypolicy
                respond "Caddy is running on 8080"
                #reverse_proxy http://192.168.1.2:9000
        }
}
